/*
	This file will be where you will write your CSS (cascading style sheets)
	
	To learn more about CSS, try visiting this link
	
	https://www.w3schools.com/css/
	
*/
body{color:#fefefe;}



/*
	Attributes below
	----------------
    T-Shirt Images Taken from user "originalmicheal"
    https://purepng.com/originalmichael
    License: Free for commercial use with Attribution Required
    
    Jam icon
    <a href="https://icon-library.net/icon/jam-icon-26.html">Jam Icon #37164</a>
    License: CC0 for personal use
    
    Code Challenge Developed by Christine Bittle
*/
